# === SnapAccess ===

# Face data and user information
data/faces/
data/users.json

# Access logs
logs.csv

# Python cache files
__pycache__/
*.py[cod]

# Environment files
*.env
.env

# macOS & Linux
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Editor-specific
*.swp
.vscode/
.idea/

# Output from packaging
*.exe
dist/
build/
*.spec
